version: "3.8"

services:
  app:
    image: ghcr.io/turtletongtong/backend:latest
    container_name: turtleconnect-app
    environment:
      SPRING_PROFILES_ACTIVE: prod
      SERVER_PORT: 8080

      DB_HOST: mysql
      DB_PORT: 3306
      DB_NAME: ${DB_NAME}
      DB_USERNAME: ${DB_USERNAME}
      DB_PASSWORD: ${DB_PASSWORD}

      REDIS_HOST: redis
      REDIS_PORT: 6379

      JWT_SECRET: ${JWT_SECRET}
    depends_on:
      - mysql
      - redis
    ports:
      - "8080:8080"
    restart: always

  mysql:
    image: mysql:8.0
    container_name: turtleconnect-mysql
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USERNAME}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    volumes:
      - ./mysql_data:/var/lib/mysql
    ports:
      - "3306:3306"
    command:
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
    restart: always

  redis:
    image: redis:7-alpine
    container_name: turtleconnect-redis
    command: ["redis-server", "--appendonly", "yes"]
    volumes:
      - ./redis_data:/data
    restart: always